* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit; /* inherit = 상속받기 */
}

.header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    margin: 0 auto;
}
.header .nav .gnb {
    display: flex;
    gap: 40px;
}
.header .util {
    display: flex;
    gap: 20px;
}

.main_visual {
    background-color: aliceblue;
    height: 100vh;
}
.main_visual h2 {
    font-size: 100px;
    text-align: center;
    line-height: 100vh;
}
.section-01 {
    background-color: rgb(229, 237, 255);
    padding: 120px 0;
}
.section-01 .inner {
    width: 1280px;
    text-align: center;
    margin: 0 auto;
}
.section-01 .inner h3 {
    font-size: 40px;
    margin-bottom: 20px;
}
.section-01 .inner .list {
    display: flex;
    justify-content: space-between;
}
.section-01 .inner .list .item {
    width: 305px;
    height: 305px;
    background-color: white;
    border-radius: 15px;
    line-height: 305px;
}
.section-02 {
    background-color: rgb(255, 240, 223);
    padding: 120px 0;
}
.section-02 .inner {
    width: 1280px;
    margin: 0 auto;
    text-align: center;
}
.section-02 .inner h3 {
    font-size: 40px;
    margin-bottom: 20px;
}
.section-02 .inner .list {
    display: flex;
    justify-content: space-between;
}
.section-02 .inner .list .item {
    width: 305px;
}
.section-02 .inner .list .item img {
    width: 100%;
    height: 305px;
    object-fit: cover;
    margin-bottom: 10px;
}
.section-03 {
    background-color: aliceblue;
    padding: 120px 0;
}
.section-03 .inner {
    width: 1280px;
    margin: 0 auto;
}
.section-03 .inner h3 {
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
}
.section-03 .inner .list {
    display: flex;
    justify-content: space-between;
}
.section-03 .inner .list .item {
    width: 305px;
    height: 305px;
    position: relative;
}
.section-03 .inner .list .item a img {
    width: 100%;
    height: 305px;
    object-fit: cover;
}
.section-03 .inner .list .item a p {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.342);
    width: 100%;
    text-align: center;
    padding: 16px 0;
    backdrop-filter: blur(2px);
    color: white;
}
.footer {
    background-color: rgb(43, 43, 43);
    padding: 100px;
    text-align: center;
    color: white;
    font-size: 14px;
    font-weight: lighter;
    line-height: 24px;
}