* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.video {
    height: 80vh;
    position: relative
}
.video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.video .text {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: white;
}
.video .text h1 {}
.video .text a {}