* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    text-align: center;
    font-size: 80px;
}

/* 화면의 크기가 1024px 이하일 때 스타일 변화(태블릿 가로) */
@media screen and (max-width:1024px) {
    h1 {
        font-size: 40px;
        color: aqua;
    }
} /* max-width:1024px */

/* 화면의 크기가 768px 이하일 때 스타일 변화(태블릿 세로) */
@media screen and (max-width:768px) {
    h1 {
        font-size: 20px;
        color: blueviolet;
    }
} /* max-width:768px */

/* 화면의 크기가 480px 이하일 때 스타일 변화(모바일) */
@media screen and (max-width:480px) {
    body {background-color: #ebebeb;}
    h1 {
        font-size: 16px;
        color: cadetblue;
        text-align: left;
    }
} /* max-width:480px */