* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.section-01 {
}
.section-01 .list {
    max-width: 900px;
    width: calc(100% - 32px);
    /* 띄어쓰기 필수 */
    /* + - / * 다 가능 */
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.section-01 .list .item {
    width: 31%;
    height: 360px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}
.section-01 .list .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section-01 .list .item .text {
    background-color: #ffffff83;
    backdrop-filter: blur(4px);
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 15px;
    transform: translateY(100%);
    transition: 0.5s;
}
.section-01 .list .item .text strong {
    margin-bottom: 12px;
    line-height: 1;
    display: block;
    font-size: 20px;
}
.section-01 .list .item .text p {
    font-size: 14px;
}

.section-01 .list .item:hover .text {
    transform: translateY(0);
}

/* 화면의 크기가 1280px보다 작을 때 실행 */
/* .item안에 있는 .text를 보이도록 적용 */
@media screen and (max-width:1280px) {
    .section-01 .list .item .text {
        transform: translateY(0);
    }
} /* max-width:1280px */

/* 화면의 크기가 600px 이하일 때 */
@media screen and (max-width:600px) {
    .section-01 .list {
        flex-wrap: wrap;
        row-gap: 10px;
    }

    .section-01 .list .item {
        width: 100%;
    }
} /* max-width:600px */