/* 웹폰트 연결은 가장 상단에 */

@font-face {
    font-family: 'PyeojinGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2504-1@1.0/PyeojinGothic-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'PyeojinGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2504-1@1.0/PyeojinGothic-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'PyeojinGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2504-1@1.0/PyeojinGothic-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'PyeojinGothic';
}

.inner {
    max-width: 1280px;
    width: calc(100% - 48px);
    margin: 0 auto;
}

.header {
    padding: 20px 0;
}

.header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .inner .nav .gnb {
    display: flex;
    gap: 50px;
}

.main {}

.main .main_visual {
    max-width: 1920px;
    width: 100%;
    height: 100vh;
    position: relative;
}

.main .main_visual::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.342);
}

.main .main_visual .text {
    position: absolute;
    left: 16%;
    top: 40%;
    transform: -50%, -50%;
    z-index: 1;
    color: white;
}

.main .main_visual .text .title {
    margin-bottom: 60px;
}

.main .main_visual .text .title h2 {
    font-size: 60px;
    margin-bottom: 20px;
}

.main .main_visual .text a {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 8px;
    transition: 0.3s;
}

.main .main_visual img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main .section-01 {
    padding: 120px 0;
}

.main .section-01 .inner .title {
    text-align: center;
}

.main .section-01 .inner .title h3 {
    font-size: 40px;
    margin-bottom: 20px;
    line-height: 1;
}

.main .section-01 .inner .title p {
    margin-bottom: 60px;
}

.main .section-01 .inner .list {
    display: flex;
    justify-content: space-between;
}

.main .section-01 .inner .list .item {
    width: 32%;
    height: 500px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    border: solid 1px rgb(228, 228, 228);
}

.main .section-01 .inner .list .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main .section-01 .inner .list .item .text-02 {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: white;
    padding: 40px;
}

.main .section-01 .inner .list .item .text-02 h4 {
    font-size: 22px;
    margin-bottom: 12px;
}

.main .section-02 {
    background-color: aliceblue;
    padding: 120px 0;
}

.main .section-02 .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main .section-02 .inner .text-03 {
    width: 30%;
}

.main .section-02 .inner .text-03 .title h3 {
    font-size: 40px;
    margin-bottom: 20px;
    line-height: 1;
}

.main .section-02 .inner .text-03 .title p {
    margin-bottom: 41px;
}

.main .section-02 .inner .text-03 .check li {
    margin-bottom: 16px;
}

.main .section-02 .inner img {
    width: 60%;
    aspect-ratio: 1.2 / 1;
    object-fit: cover;
    border-radius: 5%;
}

.main .section-03 {
    padding: 120px 0;
}

.main .section-03 .inner {}

.main .section-03 .inner .title {
    text-align: center;
}

.main .section-03 .inner .title h3 {
    font-size: 40px;
    margin-bottom: 20px;
    line-height: 1;
}

.main .section-03 .inner .title p {
    margin-bottom: 60px;
}

.main .section-03 .inner .list {
    display: flex;
    justify-content: space-between;
}

.main .section-03 .inner .list .item {
    width: 24%;
    height: 400px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.main .section-03 .inner .list .item .text {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 20px;
    transform: translateY(100%);
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0.493);
    backdrop-filter: blur(4px);
}

.main .section-03 .inner .list .item .text h4 {
    margin-bottom: 12px;
    font-size: 20px;
}

.main .section-03 .inner .list .item .text p {}

.main .section-03 .inner .list .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main .section-03 .inner .list .item:hover .text {
    transform: translateY(0);
}

.main .main_visual .text:hover a {
    background-color: rgb(255, 109, 41);
    color: white;
}

/* 화면의 크기가 1280px 보다 작을 때 */
@media screen and (max-width:1280px) {
    .main .section-03 .inner .list .item .text {
        transform: translateY(0%);
    }
}

/* 화면의 크기가 768px 보다 작을 때 */
@media screen and (max-width:768px) {

    .main .section-01 {
        padding: 100px 0;
    }

    .main .section-01 .inner .title p {
        margin-bottom: 40px;
    }

    .main .section-01 .inner .list .item .text-02 {
        padding: 20px;
    }

    .main .section-02 {
        padding: 100px 0;
    }

    .main .section-02 .inner {
        flex-direction: column;
    }

    .main .section-02 .inner img {
        order: -1;
        width: 100%;
        margin-bottom: 40px;
    }

    .main .section-02 .inner .text-03 {
        width: 100%;
    }

    .main .section-03 {
        padding: 100px 0;
    }

    .main .section-03 .inner .title p {
        margin-bottom: 40px;
    }

    .main .section-03 .inner .list {
        flex-wrap: wrap;
        row-gap: 15px;
    }

    .main .section-03 .inner .list .item {
        width: 49%;
    }
}

/* 화면의 크기가 480px 보다 작을 때 */
@media screen and (max-width:480px) {

    .main .section-01 {
        padding: 60px 0;
    }

    .main .section-01 .inner .title h3 {
        margin-bottom: 16px;
    }

    .main .section-01 .inner .title p {
        margin-bottom: 20px;
    }

    .main .section-01 .inner .list {
        flex-wrap: wrap;
        row-gap: 20px;
    }

    .main .section-01 .inner .list .item {
        width: 100%;
    }

    .main .section-01 .inner .list .item .text-02 {
        padding: 20px;
    }

    .main .section-02 {
        padding: 60px 0;
    }

    .main .section-02 .inner {
        flex-direction: column;
    }

    .main .section-02 .inner img {
        order: -1;
        width: 100%;
        aspect-ratio: 4 / 5;
        margin-bottom: 40px;
    }

    .main .section-02 .inner .text-03 {
        width: 100%;
    }

    .main .section-02 .inner .text-03 .title h3 {
        margin-bottom: 16px;
    }

    .main .section-02 .inner .text-03 .title p {
        margin-bottom: 40px;
    }

    .main .section-03 {
        padding: 60px 0;
    }

    .main .section-03 .inner .title h3 {
        margin-bottom: 16px;
    }

    .main .section-03 .inner .title p {
        margin-bottom: 40px;
    }

    .main .section-03 .inner .list {
        flex-wrap: wrap;
        row-gap: 15px;
    }

    .main .section-03 .inner .list .item {
        width: 100%;
    }
}